.card--product{
    display: flex;
    flex-flow: column wrap;
    width: 280px;
    /* max-height: 250px; */
    justify-content: center;
    align-items: center;
    gap: 0;
}
.card--product:hover{
    cursor: pointer;
}
.card--product>img{
    display: block;
    width:250px;
}
.card--product__description{
    display: flex;
    width: 80%;
    flex-flow: column;
}
.card--product__description>*{
    display: block;
    margin: 0;
    padding: 0;
}