.container--alert--confirm{
    width: 200px;
    height: 140px;
    margin: auto;
    background-color: rgb(97, 91, 91);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
}
.container--alert--confirm div{
    display: flex;
    flex-flow: row nowrap;
}
.container--alert--confirm div button{
    width: 50%;
    margin: 0;
    padding: 0;
    height: 25px;
    background-color: black;
    color: white;
}
.container--alert--confirm p{
    filter: invert(1);
}