.container--login{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.container--login>h4{
    font-size: 22px;
    margin: 0;
    font-weight: lighter;
    filter: contrast(100);
}
.login{
    display: flex;
    flex-flow: column nowrap;
    width: min-content;
    align-items: center;
    justify-content: center;
    width: min-content;
    padding: 1em;
    border: 1px black solid;
    background-color: rgb(95, 92, 92);
}
.login label{
    font-weight: 700;
    color: white;
    align-self: flex-start;
}

.login input{
    height: 1.4rem;
    margin-bottom: 0.5rem;
    outline: none;
}

.login p{
    margin: 0;
    justify-self: start;
    align-self: flex-start;
}

.login button{
    align-self: center;
    background-color: black;
    color: white;
    height: 2rem;
    padding: 0 1rem;
}

.login button:hover{
    cursor: pointer;
    opacity: 0.8;
}