.body--shop{
    display: grid;
    grid-template-rows: min-content 1fr;
}

.main--shop{
    position: relative;
    display: grid;
    grid-template-areas: 
    "s-cart"
    "s-products"
    ;
    grid-template-rows: 1fr min-content;
    justify-content: right;
    align-items: start;
}

.prueba--cart{
    position: sticky;
    grid-area: s-cart;
}

.prueba{
    grid-area: s-products;
}

@media screen and ( min-width: 600px) {
    .main--shop{
        grid-template-areas: 
        "s-products s-cart"
        ;
        grid-template-columns: 1fr min-content;
        grid-template-rows: min-content;
        justify-content:right;
        align-items: start;
    }
}