.user--profile{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:0.5em;
}

.user--profile__data{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.user--profile__data>span{
    font-size: 12px;
    text-transform: capitalize;
}

button{
    border: 0;
}